body {
    background-image: url('https://wallpapers.com/images/high/expansive-landscape-engulfed-in-flames-4lixyfzb2sxqo24j.webp');
    background-size: cover;
    backdrop-filter: blur(4px);
    height: 100vh;
    margin: 0
}

.wrapper {
    width: 100%;
    padding: 0;
    margin: 0 auto;
}

.chat-header {
    width: 80%;
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}

#chat-box {
    list-style: none;
    padding: 10px;
    height: 400px;
    width: 100%;
    overflow-y: scroll;
    background-color: transparent;
    backdrop-filter: blur(10px);
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px 0;
}

#form {
    display: flex;
    justify-content: center;
    gap: 10px;
    width: 45%;
    margin: 0 auto;
}

#messageInput {
    width: 80%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

.username {
    font-weight: bold;
    margin-right: 5px;
}

ul {
    display: flex;
    flex-direction: column;
    gap: 5px 0;
}

.align-left {
    text-align: left;
    margin-right: auto;
    justify-content: flex-end;
    margin-bottom: 5px;
}

.align-right {
    text-align: right;
    margin-left: auto;
    margin-bottom: 5px;
}

li {
    min-width: 40%;
    min-height: 6%;
    max-height: 10%;
    border-radius: 8px;
    padding-left: 3px;
}

p {
    height: fit-content;
}

span {
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 12px;
}